body {
  margin: 0;
  padding: 0;
}

.container {
  /* background: lightblue; */
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  top: 0px;
  bottom: 50px;
}

header {
  /* background: lightcoral; */
  padding: 20px;
}

.main {
  
  height: 100%;
  /* background: lightgreen; */
  display: flex;
  justify-content: flex-start;
}

nav {
  padding: 20px;
  /* background: maroon; */
  border-right: 1px solid cornflowerblue;
  width: 20%;
}

main {
  padding: 20px;
  /* background: violet; */
  width: 100%;
}

footer {
  padding: 20px;
}

table {
  text-align: left;
  width: 70%;
  border-collapse: collapse;
}

th,tr,td {
  padding: 10px 15px 10px 15px;
  border-bottom: 1px solid gray;
}